<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.Mom.Presales.Training.DemoApp.Cancel' | translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.Mom.Presales.Training.DemoApp.Save' | translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form"
                       sit-layout="Vertical"
                       sit-type="Fluid"
                       sit-mode="edit"
                       sit-columns="1">
        <!-- TODO: Put here the properties of the entity managed by the service -->
        <sit-property sit-widget="sit-text"
                      sit-value="vm.currentItem.Name"
                      sit-validation="{required: true}"
                      sit-read-only="false">{{ 'Siemens.Mom.Presales.Training.DemoApp.Name' | translate }}:</sit-property>
         <sit-property sit-widget="sit-text"
                      sit-value="vm.currentItem.Description"
                      sit-validation="{required: true}"
                      sit-read-only="false">{{ 'Siemens.Mom.Presales.Training.DemoApp.Description' | translate }}:</sit-property>
         <sit-property sit-widget="sit-numeric"
                      sit-value="vm.currentItem.Number"
                      sit-validation="{required: true,max:100,min:1}"
                      sit-read-only="false">{{ 'Siemens.Mom.Presales.Training.DemoApp.Number' | translate }}:</sit-property>
          <sit-property sit-widget="sit-checkbox"
                      sit-value="vm.IsLeader"
                      sit-validation="{required: false}"
                      sit-read-only="false">{{ 'Siemens.Mom.Presales.Training.DemoApp.IsLeader' | translate }}:</sit-property>
           <sit-property sit-widget="sit-checkbox"
                      sit-value="vm.IsActive"
                      sit-validation="{required: false}"
                      sit-read-only="false">{{ 'Siemens.Mom.Presales.Training.DemoApp.IsActive' | translate }}:</sit-property>
    </sit-property-grid>
</div>
