
<DSL Version='1.12'>
    <Project>
        <Name>DemoApp.DAPOMModel</Name>
        <Version>02.00.01</Version>
        <Prefix>Siemens.Mom.Presales.Training</Prefix>
        <Domain>DemoApp</Domain>
        <DomainAcronym>DA</DomainAcronym>
        <Guid>d0dd6957-2522-4247-a788-fc2fbe4cb235</Guid>
		<ProjectKind>Pom</ProjectKind>
    </Project>
    <References>
		<Project>
			<Name>DemoLib.MSModel</Name>
			<Version>02.00.01</Version>
			<Prefix>Siemens.Mom.Presales.Training</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>51ca7574-1b4f-4b02-81cf-c40010726991</Guid>
		</Project>
    </References>
</DSL>